* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white
}

html {
    background-image: url(/imagenes/fondo.png);
}


li, a, button {
    color: rgb(210, 210, 210);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    margin-right: auto;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: white
}

/*
button {
    margin-left: 10px;
    padding: 20px 30px;
    background: none;
    border-color: aqua;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    color: white
}*/


button {
    margin-left: 10px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


/*Presentación*/

.principal {
    display: flex;
}

.presentacion {
    width: 40%;
    margin: 100px 120px;
}

.presentacion h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.presentacion p {
    color: rgb(210, 210, 210);
}

.foto {
    width: 300px;
    height: 380px;
    object-fit: cover;
    box-shadow: 0 5px 10px #000;
    border-radius: 10px;
}